body {
  margin: 1vh;
  background-color: black;
}

.AppGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;         
  grid-template-rows: auto 1fr;           
  grid-template-areas:
      "TopBar TopBar"
      "LeftSide RightSide";
  height: 98vh;
  margin: 0;
}

.TopBar {
  grid-area: TopBar;
  background-color: #0047b3;
  /* max-height: 5vh; */
  
}

.TopBar header {
  display: flex;            /* make children align horizontally */
  align-items: baseline; 
  padding-left: 10px;
}

.LeftSide {
  grid-area: LeftSide;
  background-color: orange;
  max-height: 93vh;

  display: flex;
  justify-content: center; 
  
}

.RightSide {
  grid-area: RightSide;
  background-color: gray;
  max-height: 93vh;

}

.Michigan_Map {
  background-color: darkblue;
}

.Michigan_Map path {
  fill: white; 
  stroke: black; 
  stroke-width: 10; 
  cursor: pointer;
}

.Michigan_Map path:hover {
  stroke: #66ccff;
  stroke-width: 100; 
}