body {
  margin: 1vh;
  background-color: black;
}

.AppGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;         
  grid-template-rows: auto 1fr;           
  grid-template-areas:
      "TopBar TopBar  TopBar  TopBar  TopBar"
      "LeftSide LeftSide RightSide  RightSide RightSide";
  height: 98vh;
  margin: 0;
}

.TopBar {
  grid-area: TopBar;
  background-color: #0047b3;
  height: 5vh;

  display: flex;            
  align-items: top; 
  padding-left: 10px;
  
}

.LeftSide {
  grid-area: LeftSide;
  background-color: darkblue;

  display: flex;
  justify-content: center; 
  
}

.Michigan_Map {
  width: 100%;
  max-height: 100vh;
}

.Michigan_Map path {
  fill: white; 
  stroke: black; 
  stroke-width: 20; 
  cursor: pointer;
}

.Michigan_Map path:hover {
  stroke: #66ccff;
  stroke-width: 200; 
}

.RightSide {
  grid-area: RightSide;
  background-color: gray;
  

  display: flex;
  flex-direction: column;
}

.label {
  height: 5vh;
  align-self: center;
}

.chart {
  background-color: white;
  height: 100%;
}

.LineChart {
  width: 100%;
  min-width: 100%

}

